body{
text-align: center;
display: block;
background: linear-gradient(to bottom left,#fff,rgb(36, 136, 161));
}
h1{
    padding-bottom: 2%;
    text-align: center;
    color: black;
    font-size: 35px;
    font-family: 'Comic Sans MS';
    text-decoration: underline;
}
.vid{
    border-radius: 10px;
    padding: 20px 10px;
    border: 1px solid black;
    background: linear-gradient(to bottom,#fff,rgba(191, 209, 170, 0.884));
}